<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{{ if not .IsHome }}{{ .Title }} - {{ end }}John Mayou</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <script type="module" src="/js/turbo.js"></script>
  </head>
  <body>
    <div id="layout">
      <aside id="sidebar">
        <nav>
          <a href="/" class="{{ if .IsHome }}active{{ end }}">About</a>
          <a href="/writing/" class="{{ if eq .Section "writing" }}active{{ end }}">Writing</a>
        </nav>
      </aside>
      <header id="site-header">
        <a href="/" id="site-name">JOHN MAYOU</a>
      </header>
      <main>
        {{ block "main" . }}{{ end }}
      </main>
    </div>
  </body>
</html>