{{ define "main" }}
<div id="home" class="obsidian-styles">
  <div>
    <h1>Hi, I'm John!</h1>
    <p>I'm currently re-building this website, please check back soon!</p>
  </div>
  <div>
    <h1>Projects</h1>
    <p>These are the projects that I've created and current working on:</p>
    <ul>
      <li>
        <a href='{{ relref . "/projects/project-one.md" }}'
          >Placeholder Project 1</a
        >
        <span>: A brief description.</span>
      </li>
      <li>
        <a href='{{ relref . "/projects/project-two.md" }}'
          >Placeholder Project 2</a
        >
        <span>: A brief description.</span>
      </li>
    </ul>
  </div>
</div>
{{ end }}
